

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/*   Header   */
header {
    height: 135px;
    width: 100%;
}

/*   Header Top Row   */
.header-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    font-size: 14px;
}

.top-left-menu li {
    margin-left: 20px;
}

.top-right-menu li {
    margin-right: 20px;
}

header ul {
    display: flex;
}

/*   Header Bottom Row   */
.header-bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    padding: 0 20px;

}

form {
    display: flex;
    align-items: center;
    height: 100%;
}

.bottom-item {
    margin-right: 20px;
    font-size: 12px;
    border: 1px solid #D8D8D8;
    border-radius: 2%;
    height: 55%;
    padding: 0 20px;
}

input {
    height: 58%;
    width: 300px;
}

header button {
    color: #006AFF;
}

/*   Map Section   */

/*   Listings Section   */
.listings-section-container {
    position: fixed;
    right: 0;
    top: 135px;
    height: 100%;
    overflow-y: scroll;
}

.site-listings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 750px;
    background-color: lightblue;
}

.listings-title-section {
    display: block;
    height: 100px;
    width: 750px;
    padding: 20px;
    background: gold;
}

.listings-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.listings-box {
    display: grid;
    height: 240px;
    width: 355px;
    background-color: lightgreen;
}