

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    width: 100vw;
}

/*   Header   */
header {
    height: 160px;
    width: 100%;
}

/*   Header Top Row   */
.header-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    font-size: 14px;
}

.top-left-menu li {
    margin-left: 20px;
}

.top-right-menu li {
    margin-right: 20px;
}

header ul {
    display: flex;
}

/*   Header Bottom Row   */
.header-bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    padding: 0 20px;

}

form {
    display: flex;
    align-items: center;
    height: 100%;
}

.bottom-item {
    margin-right: 20px;
    font-size: 12px;
    border: 1px solid #D8D8D8;
    border-radius: 2%;
    height: 55%;
    padding: 0 20px;
}

input {
    height: 58%;
    width: 300px;
}

header button {
    color: #006AFF;
}